<a href="https://colab.research.google.com/github/ArandasSheikh/Supervised-Learning-Projects/blob/main/Loan_Prediciton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix
from sklearn.metrics import classification_report

In [43]:
data = pd.read_csv('/content/train_u6lujuX_CVtuZ9i.csv')
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [57]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [53]:
# data['Credit_History'].value_counts()
data['Self_Employed'].value_counts()

Self_Employed
No     500
Yes     82
Name: count, dtype: int64

In [54]:
# data['Credit_History'].fillna('1.0',inplace = True)
# data['Gender'].fillna('Male',inplace = True)
data['Married'].fillna('Yes',inplace = True)
data['Self_Employed'].fillna('No',inplace = True)
data['Self_Employed'].fillna('No',inplace = True)

/tmp/ipython-input-173588184.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Self_Employed'].fillna('No',inplace = True)

In [56]:
data['LoanAmount'].fillna(data['LoanAmount'].mean(), inplace=True)
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mean(), inplace=True)

# Handle '3+' in 'Dependents' and convert to numeric
data['Dependents'] = data['Dependents'].replace('3+', '3').astype(float)

# Now calculate mean and fill NaNs
data['Dependents'].fillna(data['Dependents'].mean(), inplace=True)

# print(data['LoanAmount'].mean())
# print(data['Loan_Amount_Term'].mean())

/tmp/ipython-input-2882346452.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['LoanAmount'].fillna(data['LoanAmount'].mean(), inplace=True)
/tmp/ipython-input-2882346452.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mean(), inplace=True)
/tmp/ipython-input-2882346452.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Dependents'].fillna(data['Dependents'].mean(), inplace=True)

In [69]:
data_encoding

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,0,0.0,0,0,5849,0.0,146.412162,360.0,1.0,1,0,0,1
1,1,1,1.0,0,0,4583,1508.0,128.000000,360.0,1.0,0,1,0,0
2,1,1,0.0,0,1,3000,0.0,66.000000,360.0,1.0,1,0,0,1
3,1,1,0.0,1,0,2583,2358.0,120.000000,360.0,1.0,1,0,0,1
4,1,0,0.0,0,0,6000,0.0,141.000000,360.0,1.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0.0,0,0,2900,0.0,71.000000,360.0,1.0,1,1,0,0
610,1,1,3.0,0,0,4106,0.0,40.000000,180.0,1.0,1,1,0,0
611,1,1,1.0,0,0,8072,240.0,253.000000,360.0,1.0,1,0,0,1
612,1,1,2.0,0,0,7583,0.0,187.000000,360.0,1.0,1,0,0,1
613,0,0,0.0,0,1,4583,0.0,133.000000,360.0,0.0,0,0,1,0

In [58]:
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data['Married'] = le.fit_transform(data['Married'])
data['Education'] = le.fit_transform(data['Education'])
data['Self_Employed'] = le.fit_transform(data['Self_Employed'])

In [63]:
data_encoding = pd.get_dummies(data, columns=['Property_Area'])
# Convert boolean to integer
data_encoding['Property_Area_Rural'] = data_encoding['Property_Area_Rural'].astype(int)
data_encoding['Property_Area_Semiurban'] = data_encoding['Property_Area_Semiurban'].astype(int)
data_encoding['Property_Area_Urban'] = data_encoding['Property_Area_Urban'].astype(int)

In [64]:
data_encoding['Loan_Status'] = data_encoding['Loan_Status'].map({'Y':1, 'N':0})

In [68]:
data_encoding.drop('Loan_ID', axis=1, inplace=True)

In [76]:
X = data_encoding.drop('Loan_Status', axis=1)
y = data_encoding['Loan_Status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# X_train
# X_test
# y_train
# y_test

350    1
377    1
163    1
609    1
132    1
      ..
231    1
312    1
248    1
11     1
333    1
Name: Loan_Status, Length: 123, dtype: int64

In [82]:
DT = DecisionTreeClassifier()
DT.fit(X_train, y_train)
y_predict = DT.predict(X_test)

In [88]:
y_predict = DT.predict(X_test)
accuracy = accuracy_score(y_test,y_predict)
print(accuracy)
print("classification_report:\n", classification_report(y_test, y_predict))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_predict))

0.6991869918699187
classification_report:
               precision    recall  f1-score   support

           0       0.57      0.53      0.55        43
           1       0.76      0.79      0.77        80

    accuracy                           0.70       123
   macro avg       0.67      0.66      0.66       123
weighted avg       0.69      0.70      0.70       123

Confusion Matrix:
 [[23 20]
 [17 63]]

In [90]:
data_encoding

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,0,0.0,0,0,5849,0.0,146.412162,360.0,1.0,1,0,0,1
1,1,1,1.0,0,0,4583,1508.0,128.000000,360.0,1.0,0,1,0,0
2,1,1,0.0,0,1,3000,0.0,66.000000,360.0,1.0,1,0,0,1
3,1,1,0.0,1,0,2583,2358.0,120.000000,360.0,1.0,1,0,0,1
4,1,0,0.0,0,0,6000,0.0,141.000000,360.0,1.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0.0,0,0,2900,0.0,71.000000,360.0,1.0,1,1,0,0
610,1,1,3.0,0,0,4106,0.0,40.000000,180.0,1.0,1,1,0,0
611,1,1,1.0,0,0,8072,240.0,253.000000,360.0,1.0,1,0,0,1
612,1,1,2.0,0,0,7583,0.0,187.000000,360.0,1.0,1,0,0,1
613,0,0,0.0,0,1,4583,0.0,133.000000,360.0,0.0,0,0,1,0

In [93]:
def predict_loan():
    print("Enter applicant details below:")
    gender = int(input("Gender (0=Female, 1=Male): "))
    married = int(input("Married (0=No, 1=Yes): "))
    dependents = int(input("Dependents (0,1,2,3+): "))
    education = int(input("Education (0=Graduate, 1=Not Graduate): "))
    self_employed = int(input("Self_Employed (0=No, 1=Yes): "))
    applicant_income = float(input("Applicant Income: "))
    coapplicant_income = float(input("Coapplicant Income: "))
    loan_amount = float(input("Loan Amount: "))
    loan_amount_term = float(input("Loan Amount Term (in months): "))
    credit_history = float(input("Credit History (0=No, 1=Yes): "))
    Property_Area_Rural = int(input("Property Area (0=No,1=Rural): "))
    Property_Area_Semiurban = int(input("Property Area (0=No,1==Semiurban): "))
    Property_Area_Urban = int(input("Property Area ( 0=No,1=Urban): "))



    # create dataframe
    data = pd.DataFrame([[gender, married, dependents, education, self_employed,
                          applicant_income, coapplicant_income, loan_amount,
                          loan_amount_term, credit_history, Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban]],
                        columns=X.columns)

    # prediction
    pred = DT.predict(data)[0]
    if pred == 1:
        print("\n✅ Loan Likely to be Approved")
    else:
        print("\n❌ Loan Likely to be Rejected")

# ------------------------------
# RUN PREDICTION
# ------------------------------
predict_loan()

Enter applicant details below:
Gender (0=Female, 1=Male): 0
Married (0=No, 1=Yes): 0
Dependents (0,1,2,3+): 2
Education (0=Graduate, 1=Not Graduate): 0
Self_Employed (0=No, 1=Yes): 1
Applicant Income: 2999
Coapplicant Income: 0
Loan Amount: 155.659
Loan Amount Term (in months): 360
Credit History (0=No, 1=Yes): 0
Property Area (0=No,1=Rural): 1
Property Area (0=No,1==Semiurban): 0
Property Area ( 0=No,1=Urban): 0

❌ Loan Likely to be Rejected